body {
	background: #222 url("../images/bg.png");
	padding-top: 60px;
	color: #999;
}

.ustream-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.ustream-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

section .twtr-widget .twtr-tweet {
	border-bottom: 4px solid #333;
}